rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Нэвтэрсэн хэрэглэгч бүр read/write хийх боломжтой
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
    
    // Journey data: нэвтэрсэн хэрэглэгч бүр read/write хийх боломжтой
    match /journeyData/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
